.imagehead {
  height: 40vh;
  min-height: 100px;
  background-image: url('../imgdesign/whitepc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* change the link color and add padding for height */
.navbar .navbar-nav .nav-link {
    color: rgb(255,255,255) !important;
   /* padding: 1rem 1rem;*/
}

h1, h2 {
  text-shadow: 2px 2px  #FFF;
}
