
<template>
   <datepicker></datepicker>
</template>
<script>
//https://madewithvuejs.com/blog/best-vue-js-datepickers
import Datepicker from 'vuejs-datepicker';

export default {

  components: {
    Datepicker
  }

}
</script>