<template>
    <div class="row">
<div class="col-sm-6">
<input type="text" v-model="keyword" placeholder="Search jobs... Type some letters." v-on:keyup="searchjobs()" class="form-control">
</div>
<div class="col-sm-6" >

<select class="form-control" v-on:change="selectCategory()" v-model="key" >
 <option value="" disabled hidden>Select Category</option>
 <option v-for="category in categories" :value="category.id"> {{category.name}}</option>
</select>

</div>

<div class="card-footer" v-if="results.length">
<ul class="list-group">
    <li class="list-group-item"  v-for = "result in results">
        <a style="color: #000;" :href="app_url +'/job/'+result.id+'/'+result.slug+'/' ">{{result.title}}</a>
        <br>
        <small class="badge badge-success">{{result.position}}</small>
    </li>
</ul>   
</div>
    </div>

</template>

<script>
    export default {
            props:["app_url", "categories_data"],
        mounted() {
            //console.log('Component mounted.')
        },
        data(){
return{
    keyword:'',
    results:[],
    key: "",
    categories: JSON.parse(this.categories_data)
}
        },
        methods:{
         searchjobs(){
            this.results = [];
            if(this.keyword.length >1){
axios.get(this.app_url +'/jobs/search', {params:{keyword:this.keyword}}).then(response =>{this.results = response.data;});
            }
         } ,
         selectCategory(){
  //console.log(this.key);
  window.location.href = this.app_url +'/category/'+this.key;
         }


        }
    }
</script>
